* {
  font-family: "Work Sans";
  box-sizing: border-box !important;
}
header {
  background: linear-gradient(#1313136e, #1313136e),
    url("../img/hero_1.jpg") center/cover;
  height: 100vh;
}
.container {
	max-width: 1000px;
	margin: auto;
}

.header-area {
  height: 86px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  font: 900 30px "Work Sans";
}
.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
nav ul li > a,.dropdown > a {
  color: rgba(255, 255, 255, 0.7) !important;
  font: 400 15px arial;
  text-transform: capitalize;
  transition: 0.3s all ease;
}

nav ul li > a:hover,.dropdown > a:hover {
  color: #fff !important;
}
nav ul li > a > i {
  font-size: 11px;
}
.active {
  color: #fff !important;
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background: transparent;
}

.header-content h1 {
  font: 600 45px arial;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 48px;
}
.header-content button {
  background: #007bff;
  color: #fff;
  font: 500 16px arial;
  border-radius: 30px;
  padding: 10px 30px;
  outline: none;
  border: 0;
  cursor: pointer;
}

.header-content button:hover {
  background: #000;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  border-top: 1px solid #007bff;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#about-section{
  padding: 60px 0;
}

.title {
  color: #007bff;
  font: 700 30px "Work Sans";
  text-align: center;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.about-container{
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.about-container img {
  width: 490px;
  height: auto;
  object-fit: cover;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.about-content h3 {
  font: 400 28px "Work Sans";
  color: #000;
}


.about-content p {
  font:400 16px "Work Sans" ;
  line-height: 1.7;
  color: gray;
  margin: 15px 0 20px 0;
}

.checked-list li{
  position: relative;
  padding-left: 30px; 
  margin-bottom: 20px; 
  line-height: 1.5;
  color: gray;
  font: 400 16px "Work Sans";
}

.checked-list li::before {
  position: absolute;
  left: 0;
  color: #4caf50; 
  font-size: 18px;
}

.about-content button {
  align-self: flex-start;
  text-transform: capitalize;
  background: #007bff;
  color: #fff;
  border: none;
  outline: none;
  font: 400 16px "Work Sans";
  border-radius: 30px;
  padding: 10px 30px;
  line-height: 1.5;
  cursor: pointer;
}

.about-content button:hover {
  background: #000;
  color: #fff
}
#team-section{
  padding: 60px 0;
}

#team-title{
  color: #007bff;
  font: 900 40px "Work Sans";
  text-align: center;
  text-transform: capitalize;
}
.container-parag{
  font: 300 20px "Work Sans";
  line-height: 1.7;
  color: gray;
  margin: 16px 0;
  text-align: center;
}
.all-people{
  display: flex;
  gap: 25px;
  width: 100%;
  flex-wrap: wrap;
}
.person-card {
  position: relative;
}
.person-card img {
  width: 230px;
  height: 255px;
  object-fit: cover;
}
.sidebar {
  visibility: hidden; 
  width: 35px;
  height: 255px;
  position: absolute; 
  top: 0;
  left: 0;
  background: #007bff;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
  font-size: 14px;
}
.sidebar .fa-brands {
  cursor: pointer;
}
.person-card:hover .sidebar {
  visibility: visible; 
}
.desc{
  padding: 15px;
}
.desc h3{
  font: 400 19px "Work Sans";
  color: #000;
}
.desc p {
  color: #cccccc;
  text-transform: uppercase;
  font: 400 12px "Work Sans";
  letter-spacing: 0.8px;
  line-height: 1.7;
}
#testimonial-section{
  padding: 60px 0;
}
.quote-container{
  max-width: 35%;
  margin: auto;
}
.quote{
  font: 400 15px "Work Sans";
  text-align:start;
  line-height: 1.7;
  color: gray;
  font-style: italic;
}
.img-container{
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 40px;
}
.img-container img{
  width: 50px;
  margin: 0 auto;
  border-radius: 50%;
}
.img-container p{
  font: 400 14px "Work Sans";
  text-align: center;
  line-height: 1.7;
  color: gray;   
}
#pricing-section{
  padding: 60px 0;
  background-color: #f8f9fa;
}

.padding-top{
  padding-top: 50px;
}

.all-boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background-color: #fff;
  padding: 30px;
  width: 320px;
}

.price{
  margin-top: -20px !important;
}

.price-card h3 {
  font: 400 28px "Work Sans";
  color: #000;
  margin-bottom: 8px;
  text-align: center;
}

.price-card .price{
  text-align: center;
  margin-bottom: 12px;
}

.main-price{
  font: 400 48px "Work Sans";
  color: #007bff;
  line-height: 1.7;
}

.per-year{
  font: 400 16px "Work Sans";
  color: #cccccc;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}


.li-remove{
  text-decoration: line-through;
  color: #dee2e6 !important;
}

.price-button{
  font: 400 13px "Work Sans";
  border-radius: 30px;
  padding: 10px 30px;
  color: #fff;
  background-color: #6c757d;
  border: none;
  outline: none;  
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  cursor: pointer;
}

.price-button:hover{
  background-color: #5a6268;
}

.btn-active{
  background: #007bff;
}

.btn-active:hover{
  background: #000;
}
#faq-section{
  padding: 60px 0;
  background-color: #f8f9fa;
}

.all-questions{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.question {
  width: 78%;
  padding: 20px 0;
}

.question h3{
  font: 400 17px "Work Sans";
  color: #000;
  line-height: 1.2;
  margin-bottom: 20px !important;
}

.question p {
  font: 400 14px "Work Sans";
  margin-bottom: 16px;
  line-height: 1.7;
  color: gray;
}

.margin-bottom{
  margin-bottom: 60px;
}
#banner-section{
  padding: 60px 0;   
 }
 
 .all-banners{
     display: flex;
     justify-content: space-between;
     gap: 20px;
 }
 
 .right img{
     max-height: 340px;
     max-width: 450px;
     border-radius: 3px;
 }
 
 .left{
     display: flex;
     justify-content: space-between;
 }
 
 
 .left .banner-card {
     padding: 30px 10px;
 }
 
 .banner-card h3{
     font: 400 16px "Work Sans";
     color: #000;
     line-height: 1.2;
     margin-bottom: 8px;
 }
 
 .banner-card p {
     font: 400 13px "Work Sans";
     line-height: 1.7;
     color: gray;
     margin-bottom: 16px;
 }
 
 .banner-card i {
     font-size: 40px;
     color: #007bff;
     margin-bottom: 12px;
 }
 
 .banner-card a {
     font: 400 14px "Work Sans";
     line-height: 1.7;
     color: #007bff;
     line-height: 1.7;
     transition: .3s all ease;
 }
 
 .banner-card a:hover {
     color: #0056b3;
 }
 #blog-section {
  padding: 60px 0;
}

.all-blogs{
    display: flex;
    justify-content: space-between;
}



.blog-card img {
  width: 280px;
}

.blog-desc h2 {
  font: 400 18px "Work Sans";
  line-height: 1.2;
  color: #000;
  transition: 0.3s all ease;
  margin: 8px 0;
}

.blog-attributes {
  color: #b3b3b3;
  font-size: 14px;
}

.blog-attributes a {
  color: #007bff;
  transition: 0.3s all ease;
  font: 400 13px "Work Sans";
  line-height: 1.7;
}

.btn-area a {
    color: #007bff;
    transition: 0.3s all ease;
    font: 400 16px "Work Sans";
    line-height: 1.7;
  }

.blog-desc p {
  font: 400 15px "Work Sans";
  color: gray;
  line-height: 1.7;
  margin: 16px 0;
}



.blog-attributes a:hover, .btn-area a:hover {
    color: #0056b3;
}

.mx-2 {
  margin: 0 8px;
}
#contact-section{
  padding: 60px 0;
  background-color: #f8f9fa;
}

.contact-tools{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.tool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tool i {
  color: #007bff;
  font-size: 16px;
  margin-bottom: 8px;
}

.tool p {
  font: 400 14px "Work Sans";
  line-height: 1.5;
  color: gray;
  text-align: center;
}

.tool a {
  font: 400 14px "Work Sans";
  color: #007bff;
  transition: .3s all ease;
}

.tool a:hover {
  color: #0056b3;
}

.form-section{
  width: 100%;
  background-color: #fff;
  padding: 30px 60px;
}

.form-section h3{
  font: 400 22px "Work Sans";
  line-height: 1.2;
  color: #000;
  margin-bottom: 48px;
}

.first-row{
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.first-row .form-group {
  width: 50%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-group input{
  border-radius: 30px;
  height: 40px;
  padding: 0.375rem 0.75rem;
  font: 400 14px "Work Sans";
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
}

.form-group label{
  font: 400 15px "Work Sans";
  color: #000;
  margin-bottom: 0.5rem;

}


.form-group input:focus,textarea:focus{
  border-color: #007bff;
}

textarea{
  border-radius: 30px;
  height: auto;
  padding: 0.375rem 0.75rem;
  font: 400 14px "Work Sans";
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
}

.form-btn{
  align-self: flex-start;
}

.form-btn button{
  font: 400 16px "Work Sans";
  background-color: #007bff;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 30px;
  margin-top: 5px;
}

.form-btn button:hover{
  background-color: #000;
}
footer{
  padding: 80px 0 100px 0;
  background: #333333;
  color: #737373;
}
.footer-content{
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.footer-card{
  width: 25%;
}
.footer-card h3 {
  color: #fff;
  margin-bottom: 12px;
}
.footer-card p {
  font: 400 14px arial;
  line-height: 1.7;
}
.footer-card ul li {
  margin: 16px 0;
}
.footer-card ul li > a{
  color: #737373;
  text-transform: capitalize;
  transition: all 0.4s ease;
}
.social-links{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.footer-card ul li > a:hover,.social-links i:hover{
  color: #fff;
  cursor: pointer;
}
.footer-card input[type="email"] 
{
  padding: 10px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 20px 0 0 20px;
  outline: none;
  width: 60%;
  background:transparent;
  color: #fff;
  margin-right: -3px;
}
.footer-card input[type="email"]::placeholder 
{
  color: #999;
}
.footer-card button 
{
  padding: 10px 20px;
  border-left: none;
  border: 1px solid transparent;
  border-radius: 0 20px 20px 0;
  background-color: #fff;
  color: #837e7e;
  cursor: pointer;
}
.footer-card button:hover {
  background-color: #eee;
} 






@media only screen and (max-width: 768px) {
  header {
      flex-direction: column;
      align-items: center;
  }
  .menu-icon {
    display: block; 
    color:#fff;
  }

  .nav-links {
    display: none; 
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .nav-links.active {
    display: flex; /* Menu açılır */
  }
  nav ul {
      flex-direction: column;
      width: 100%;
      margin: 0;
      padding: 0;
  }
  .about-content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 70%;
    gap:25px; 

  }

  nav ul li {
      margin: 10px 0;
  }

  .container {
      padding: 10px;
      max-width: 80%;
  }
.header-content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 50%;
    gap:15px;
    text-align: center;
  }
.about-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.about-container img{
    width: 100%; 
    max-width: 400px; 
    margin-bottom: 20px; 
}

.about-content p{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    
}
.container-parag{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
.title{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  text-align: center;
}
.right img{
  max-height: 240px;
  max-width: 250px;
  border-radius: 3px;
}
  img {
      max-width: 100%;
      height: auto;
  }

  h2 {
      font-size: 24px;
  }

  footer {
      text-align: center;
      padding: 10px;
      background-color: #333;
      color: white;
  }
  .quote-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 40%;
}
.price-card{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
  gap: 20px;

}
.all-questions{
  display: inline;
  width: 70%;
  gap: 20px;
}
.question {
  width: 48%;
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  
}

.all-blogs{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
  gap: 20px;
}
.contact-tools{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
  gap: 20px;
}
.form-section{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 70%;
  gap: 30px;

}

.footer-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.col-md-12{
  width: 40%;
}
.about-section{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
}
.container header-nav{
  align-items: top;
  width: 100%;
}
.all-banners{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 70%;
  gap:25px;

}
}

@media only screen and (max-width: 400px) {
  header {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 0;
  }
  .container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .header-content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 25%;
    gap:15px;
    text-align: center;
  }
  .header-area{
    display:inline-block;
    justify-content: flex-start;
    flex-direction: column;
    width: 35%;
    margin: 0;
    padding: 0;
    gap: 1px;
  }
 
  .about-content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    gap:25px;

  }
  nav ul{
    display: inline;
    justify-content: flex-start;
    flex-direction: column;
      width: 25%;
      margin: 0;
      padding: 0;
      gap: 1px;
  }
  nav ul li {
      margin: 25px 0;
  }

  .container {
      padding: 10px;
  }

.about-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 35%;
}

.about-container img{
    width: 100%; 
    max-width: 400px; 
    margin-bottom: 20px; 
}

.about-content p{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 35%;
    
}
.container-parag{
  display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 35%;
}
.title{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 35%;
  text-align: center;
}
  img {
      max-width: 90%;
      height: auto;
  }

  h2 {
      font-size: 24px;
  }

  footer {
      text-align: center;
      padding: 10px;
      background-color: #333;
      color: white;
  }
  .quote-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 25%;
}
.quote-container{
  text-align: left;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
}
.quote-container p{
  text-align: left;
  width: 50px;
}
.img-container{
  text-align: left;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width:35%;
}
.person-card{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 40%;
  gap: 10px;  

}
.quote-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 40%;
  gap: 10px;  

}
.price-card{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 40%;
  gap: 10px;

}
.all-questions{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
  gap: 20px;
}
.all-blogs{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
.contact-tools{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 35%;
  gap: 20px;
}
.form-section{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 20px;

}

.footer-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
}

.col-md-12{
  width: 35%;
}
.about-section{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
}
.container header-nav{
  align-items: top;
}
.all-banners{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 35%;
  gap:25px;

}
}

